<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>RotoScraper MVC</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/cats.js"></script>
	</head>
	<body>
		some body stuff
		<button id="button-test">button test</button>

		<div id="articles"></div>
    	<div id="notes"></div>

		<div id='test-div'>Test div</div>
		{{{ body }}}
		<script src="app.js"></script>
	</body>
</html>
